<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
        <div class="container text-center">
          <img src="../../../assets/signup.png" alt="logo">
        </div>
      <h1 class="text-center">Login Here!!</h1>
<!--      {{ loginData | json }}-->
      <form class="text-center" (ngSubmit)="formSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Enter username" [(ngModel)]="loginData.username" name="username" required>
          <mat-hint>User name must be valid !!</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Enter password" [(ngModel)]="loginData.password" name="password" required>
        </mat-form-field>

        <div class="container text-center">
          <button mat-raised-button color="primary">Login</button>
          <button mat-raised-button color="accent" class="ml10">Clear</button>
        </div>
      </form>
      </mat-card>
    </div>
  </div>
</div>
</div>
